/* -------------------- Site wide styles -------------------- */
* {
  z-index: 0;
  overflow: hidden;
}

body {background-color:thistle;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
}

h1, p {
  margin: 0.5rem 0 0.5rem 0;
}

/* -------------------- Styles for header -------------------- */

header {
  max-height: 8vh;
}

/* -------------------- Styles for controls area -------------------- */

#controls-info-container {
  max-height: 10vh;
}
#player-info {
  white-space: pre;
}

/* -------------------- Styles for answer area -------------------- */

#answer-container {
  display: inline-block;
  width: 95%;
  height: 24vh;
  background-color: cornflowerblue;
}

#answer-container p {
  white-space: pre-wrap;
  margin: 0.25rem 0 0.25rem 0;
}

.answer-button {
  max-width: 20%;
}

/* -------------------- Styles for main play area -------------------- */
#play-container {
  display: inline-block;
  width: 95%;
  max-height: 52vh;
  background-color:purple;
}

.game-item-container {
  display: inline-block;
  width: 24%;
  padding-top: 24%;
  background: url("../images/question-mark-img.png") no-repeat;
  background-size: contain;
}

/* -------------------- Styles for footer -------------------- */
footer {
  margin: 0.25rem 0 0.25rem 0;
  max-height: 2vh;
}

footer p {
  margin: 0;
  font-size: 0.75rem;
}

/* -------------------- Styles for modal dialog -------------------- */

/* Code to create a modal dialog adapted from https://www.w3schools.com/howto/howto_css_modals.asp */

#modal-background {
  /* This provides a transluscent background behind the dialog */
  display: none;  
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); /* Fallback colour */
  background-color: rgba(0,0,0,0.4); 
}

#modal-dialog {
  /* This styles the modal dialog box itself */
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 60%; 
}

#modal-dialog p {
  text-align: left;
}

/* -------------------- Media Queries -------------------- */

/* -------------------- Devices wider than 750px -------------------- */

@media (min-width: 750px) {
  
  /*  Styles for header  */
  h1 {
    font-size: 2rem;
  }

  /*  Styles for answer area  */

  .answer-button {
    max-width: 25%;
  }

  /*  Styles for main play area  */

  .game-item-container {
    width: 20%;
    padding-top: 20%;
  }

    /*  Styles for footer  */

  footer p {
    /* margin: 0; */
    font-size: 1rem;
  }
 }

 @media (min-width: 900px) {
  
   /*  Styles for header  */
   h1 {
    font-size: 3rem;
  }

  /*  Styles for answer area  */

  .answer-button {
    max-width: 15%;
  }

  /*  Styles for main play area  */

  .game-item-container {
    width: 15%;
    padding-top: 15%;
   */
  }

    /*  Styles for footer  */

  footer p {
    font-size: 1rem;
  }
   
 }

 /* -------------------- Devices wider than 800px and taller than 1200px (e.g. large tablets) -------------------- */

 @media (min-width: 800px) and (min-height: 1200px) {
  
  /*  Styles for header  */
  * {}
  
  h1 {
   font-size: 4rem;
 }

 h2 {
  font-size: 2.5rem;
 }

 p {
  font-size: 2rem;
 }

 button {
  font-size: 1.5rem;
 }

 /*  Styles for answer area  */

 .answer-button {
   max-width: 20%;
 }

 /*  Styles for main play area  */

 .game-item-container {
   width: 20%;
   padding-top: 20%;
 }

   /*  Styles for footer  */
 footer {
   max-height: 3vh;
 }

 footer p {
   font-size: 2rem;
 }
  
}

/* -------------------- Devices wider than 1000px and no taller than 900px (e.g. Nest Hub) -------------------- */

@media (min-width: 1000px) and (max-height: 900px) {
  
  /* -------------------- Styles for header -------------------- */
  * {}
  
  h1 {
   font-size: 2rem;
 }

 h2 {
  font-size: 1rem;
 }

 p {
  font-size: 1rem;
 }

 button {
  font-size: 0.75rem;
 }

 /*  Styles for answer area  */

 .answer-button {
   max-width: 8%;
 }

 /*  Styles for main play area  */

 .game-item-container {
   width: 15%;
   padding-top: 15%;
 }

   /*  Styles for footer  */
 footer {
   max-height: 3vh;
 }

 footer p {
   font-size: 1rem;
 }
  
}