/* Google fonts import - code copied and pasted from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play&display=swap');

/* -------------------- Site wide styles -------------------- */

* {
  z-index: 0;
  overflow: visible;
}

body {
  background-color: rgb(2, 4, 64);
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  background: url('../images/wood-img.png');
  background-size: cover;
}

h1 {
  font-size: 2rem;
  margin: 0.25rem 0 0.25rem 0;
}

h2 {
  font-size: 1.5rem;
}

h1, h2 {
  /* font-family attribute values copied and pasted from fonts.google.com */
  font-family: 'Permanent Marker', cursive;
}

h2, p {
  margin: 0.5rem 0 0.5rem 0;
  color: white;
}

p {
  /* font-family attribute values copied and pasted from fonts.google.com */
  font-family: 'Play', sans-serif;
}

span {
  white-space: pre;
}

a {
  color: aqua;
}

a:hover {
  color: magenta;
}

button {
  /* font-family attribute values copied and pasted from fonts.google.com */
  font-family: 'Play', sans-serif;
  font-size: 1rem;
  border-radius: 8px;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  color: white;
}

button:disabled {
  background-color: #444 !important; 
  color:#ddd !important;
}

.text-color1 {
  color: #dbf73b;
}

.text-color2 {
  color: #ffee64;
}

.text-color3 {
  color: #ff9b0b;
}

.text-color4 {
  color: #ff0d21;
}

.text-color5 {
  color: #6eddff;
}

.game-image {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid #ffffff 0.1rem;
  background-size: contain;
}

/* -------------------- Styles for the header -------------------- */

#header-link {
  text-decoration: none;
}

/* -------------------- Styles for controls area -------------------- */

#start-button {
  background-color: #8c0712;
  color: white;
}

#info-button {
  background-color: #3f7e91;
  color: white;
}

#play-info {
  display: inline-block;
  font-family: 'Play', sans-serif;
  font-size: 1.1rem;
}

.play-info-inner {
  display: inline-block;
  margin: 0.25rem 0.25rem 0 0.25rem;
}

/* -------------------- Styles for answer area -------------------- */

#answer-container {
  display: inline-block;
  width: 95%;
  background-color: rgb(0, 0, 0, 0)
}

#answer-container p {
  white-space: pre-wrap;
  margin: 0.25rem 0 0.25rem 0;
}

.answer-button {
  max-width: 20%;
}

/* -------------------- Styles for main play area -------------------- */

#play-container {
  display: inline-block;
  width: 95%;
}

.game-item-container {
  display: inline-block;
  width: 22%;
  padding-top: 22%;
}

/* -------------------- Styles for footer -------------------- */

footer {
  margin: 0.25rem 0 0.25rem 0;
}

footer p {
  margin: 0;
  font-size: 0.75rem;
}

/* -------------------- Styles for modal dialog -------------------- */

/* Code to create a modal dialog adapted from https://www.w3schools.com/howto/howto_css_modals.asp */

#modal-background {
  /* This provides a transluscent background behind the dialog */
  display: block;  
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgb(0,0,0); /* Fallback colour */
  background-color: rgba(0,0,0,0.4); 
}

.modal-dialog {
  /* This styles the modal dialog box itself */
  background-color: #444;
  margin: 20vh auto; 
  position: relative;
  padding: 20px;
  border: 1px solid #DDD;
  width: 60%; 
}

.modal-dialog p {
  text-align: left;
  font-size: 1rem;
}

.modal-inner-text {
  /* .modal-inner-text is not defined in index.html, these are added to the DOM via JavaScript */
  display: inline-block
}

#ok-button {
  /* #ok-button is not defined in index.html, it is added to the DOM via JavaScript */
  background-color: #3f7e91;
}

/* -------------------- Styles for 404 error modal -------------------- */

#modal-dialog-404 {
  margin: 10vh auto;
}

/* -------------------- Media Queries -------------------- */

/* -------------------- Devices between 630px and 899px width -------------------- */

@media (min-width: 550px) and (max-width: 899px) and (orientation: portrait) {
  
  /*  Site wide styles  */

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  button {
    font-size: 1.5rem;
  }

  /* Styles for controls area */

  #play-info, #top-message-area, #bottom-message-area {
    font-size: 1.5rem;
  }

  /*  Styles for answer area  */

  .answer-button {
    max-width: 25%;
  }

  /*  Styles for main play area  */

  .game-item-container {
    width: 20%;
    padding-top: 20%;
  }

  /*  Styles for footer  */

  footer p {
    font-size: 1.3rem;
  }

  /* Styles for modal dialog */

  .modal-dialog {
    font-size: 1.5rem;
  }
}
/* -------------------- Devices wider than 900px (captures larger monitors) -------------------- */

 @media (min-width: 900px) {
  
  /* Site wide styles */

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.5rem;
  }

  /* Styles for header */

  .title-container {
    display: inline-block;
  }

  /*Styles for controls area */

  #play-info {
    font-size: 2rem;
  }

  /*  Styles for answer area  */

  .answer-button {
    max-width: 15%;
  }

  #answer-container p {
    font-size: 1.5rem;
  }

  /*  Styles for main play area  */

  .game-item-container {
    width: 14%;
    padding-top: 14%;
  }

  /*  Styles for footer  */

  footer p {
    font-size: 1rem;
  }  
 } 

 /* -------------------- Devices wider than 800px and taller than 1100px (e.g. tablets) -------------------- */

 @media /*(min-width: 800px) and*/ (min-height: 1100px) {
  
  /*  Site wide styles  */

  h1 {
   font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }

  button {
    font-size: 2rem;
  }

  /* Styles for header */

  .title-container {
    display: inline-block;
  }

  /* Styles for controls area */

  #play-info {
    font-size: 2.25rem;
  }

  /*  Styles for answer area  */

  #answer-container p {
    font-size: 2rem;
  }

  .answer-button {
    max-width: 20%;
  }

  /*  Styles for main play area  */

  .game-item-container {
    width: 20%;
    padding-top: 20%;
  }

  /*  Styles for footer  */

  footer p {
    font-size: 2rem;
  } 
}

/* -------------------- Devices wider than 1000px and no taller than 900px (e.g. Nest Hub) -------------------- */

@media (min-width: 1000px) and (max-height: 900px) {
  
  /*  Site wide styles  */

  h1 {
   font-size: 3rem;
  }

 h2 {
  font-size: 2rem;
  }

 p {
  font-size: 1rem;
  }

 button {
  font-size: 1rem;
  }

  /* Styles for controls area */

 #play-info {
  font-size: 1.2rem;
  }

  /*  Styles for answer area  */

 .answer-button {
   max-width: 8%;
  }

 #answer-container p {
  font-size: 1.2rem;
  }

  /*  Styles for main play area  */

 .game-item-container {
   width: 14%;
   padding-top: 14%;
}

  /*  Styles for footer  */

 footer p {
   font-size: 1rem;
 }
}

/* -------------------- Devices with a height less than 568px and more than 480px (e.g. iPhone 4) -------------------- */

@media (min-height: 480px) and (max-height: 567px) {
  
  /* Site wide styles */
  
  h1 {
   font-size: 1.75rem;
  }

 p {
  font-size: 1rem;
 }

 button {
  font-size: 0.75rem;
 }

 /*  Styles for answer area  */

.answer-button {
  width: 18%;
}

#answer-container p {
  font-size: 0.75rem;
}

 /*  Styles for main play area  */

 .game-item-container {
   width: 18%;
   padding-top: 18%;
 }

/* Styles for modal dialog */
.modal-dialog p {
  font-size: 1.25rem;
  }
}

/* -------------------- Devices up to 500px wide in landscape mode -------------------- */

@media (max-width: 550px) and (orientation: landscape) {
  
  /* Site wide styles */
  
  h1 {
   font-size: 1.75rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.65rem;
  }

  button {
    font-size: 0.75rem;
  }

  /* Styles for header */

  .title-container {
    display: inline-block;
  }

  /*  Styles for controls area  */

  #play-info {
    font-size: 0.75rem;
  }
  
  /*  Styles for answer area  */

  .answer-button {
    max-width: 8%;
  }

  /*  Styles for main play area  */

  .game-item-container {
    width: 11%;
    padding-top: 11%;
  }

    /*  Styles for footer  */
    
  footer {
    margin: 0.1rem 0 0.1rem 0;
  }

  footer p {
    font-size: 0.5rem;
  }

  /* Styles for modal dialog */

  .modal-dialog {
    margin: 10% auto;
  }
}

/* -------------------- Devices between 550px and 749px wide in landscape mode -------------------- */
@media (min-width: 550px) and (max-width:749px) and (orientation: landscape) {
  /*Site wide styles */

  h1 {
    font-size: 2rem;
    margin: 0.25rem 0 0.25rem 0;
  }

  h2 {
    font-size: 1.2rem;
  }

  button {
    font-size: 0.75rem;
  }

  /* Styles for header */

  .title-container {
    display: inline-block;
  }

  /* Styles for controls area */

  #play-info {
    font-size: 1rem;
  }

  /* Styles for answer area */
  .answer-button {
    max-width: 9%;
  }
 
  /*  Styles for main play area  */
  .game-item-container {
    width: 9%;
    padding-top: 9%;
  }

  /* Styles for  modal dialog */

  .modal-dialog {
    margin: 10% auto;
  }

  .modal-dialog p {
    font-size: 1rem;
  }
}

/* -------------------- Devices between 550px and 960px wide in landscape mode -------------------- */

@media (min-width: 750px) and (max-width:960px) and (orientation: landscape) {
  
  /*  Site wide styles  */
  
  h1 {
   font-size: 4rem;
   margin: 0.25rem 0 0.25rem 0;
 }

 h2 {
  font-size: 2rem;
 }

 p {
  font-size: 1rem;
  margin: 0.25rem 0 0.25rem 0;
 }

 /* Styles for header */

 .title-container {
  display: inline-block;
 }

 /*  Styles for controls area  */
 
 #play-info {
  font-size: 1rem;
 }

 /*  Styles for answer area  */

 .answer-button {
   max-width: 7%;
 }

 #answer-container p {
  font-size: 1rem;
 }

 /*  Styles for main play area  */

 .game-item-container {
   width: 7%;
   padding-top: 7%;
 }
}

/* -------------------- Devices with a height less than 479px (e.g. Jiophone 2) -------------------- */

@media (max-height: 479px) and (orientation: portrait) {
  /* Site wide styles */

  h2 {
    font-size: 1.25rem;
  }
  /* Styles for modal dialog */
  
  #modal-background {
    position: absolute;
    overflow: visible;
  }

  .modal-dialog {
    margin: 20% auto;
  }

  .modal-dialog p {
    font-size: 1rem;
  }
}